body {
    margin: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.outerDiv {
    width: 100%;
    min-height: 20%;
    height: auto;
    margin: 1em;
}
