body {
    margin: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    margin: 2em;
}

#shop {
    cursor: pointer;
    user-select: none;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
    height: auto;
}

.clickable:hover {
    color: orange;
}

#donnieSHop {
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
    height: auto;
}

#storeContent {
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 50%;
    height: auto;
    box-sizing: border-box;
    padding: 1rem;
}

.innerWrapperDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    width: 50%;
    height: auto;
}

.outerDiv {
    width: 100%;
    min-height: 20%;
    height: auto;
    padding: 1rem;
    margin: 0.25rem;
}

img {
    max-width: 50%;
    height: auto;
}
